*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap');
    font-family: 'Roboto', sans-serif;
    
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
.flex{
    display: flex;
}
.flexrow{
    display: flex;
    flex-direction: row;
    
}
.flexcol{
    display: flex;
    flex-direction: column;
    
}
.f-space-around{
    justify-content: space-around;
}
.f-space-between{
    justify-content: space-between;
   
}
.width60{
    width: 60%;
    margin: 0 auto;
}
.width40{
    width: 40%;
    
}
.width30{
    width: 30%;
}
.width70{
    width: 70%;
    margin: auto;
}
.margin0auto{
    margin: 0 auto;
}

nav{
    margin: 0 auto;
    height: 60px;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    background-color: white;
}
ul{
    list-style: none;
    
}
.img{
    width: 150px;
}
nav :nth-child(1){
    align-items: center;
}
.btnheader{
    border: 0cm;
    background-color: #0062fe;
    color: white;
    padding: 5px 10px;
}
h1{
    font-size: 5em;
    margin-top: 80px;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}
.arrow-down{
    margin-top: 180px;
    font-size: 4em;
}
.margin10px{
    margin: 10px;
}
.margin20pxbottom{
    margin-bottom: 20px;
}
.width70 > div > img{
    max-height: 100%;
    max-width: 100%;
}
header{
    background-color: #b4d0e6;
}
main{
    width: 60%;
    margin: 0 auto;
    padding-top: 5%;
}
section1main > div > h2{
    padding-bottom: 40px;
}

.scheda{
    flex-basis: 32% ;
    margin: auto;
    border: 1px solid black;
    height: 850px;
}
.type-plan{
    margin-bottom: 10px;
    
    
    text-align: center;
}
.container-info-plan{
    padding-top: 30px;
    border-top: 1px solid black;
}
.info-plan{
    width: 80%;
    margin: 0 auto;
}

.margin50pxtop{
    margin-top: 50px;
}
.margin20pxtop{
    margin-top: 20px;
}
.btn-info-plan{
    border: 0cm;
    background-color: #0061fe;
    color: white;
    padding: 10px 20px;
    

}
.container-btn-info-plan{
    margin: 0 auto;
}
hr{
    width: 20%;
}
.list-plan-bottom{
    margin-bottom: 150px;
}
.text-indent{
    text-indent:-20px ;
}
.display-inline{
    display: inline;
}
.scheda-team-bottom{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    border: 1px solid black;
    height: 220px;
}
.info-plan-bottom{
    width: 90%;
    margin: 0 auto;
}
.check-color-blue{
    color: blue;
}

.partner-section{
    width: 93%;
    margin: auto;
}

.width50-partner > img{
    width: 50%;
    
}.width70-partner{
    width: 70%;
    
}
.width93{
    width: 93%;
    margin: auto;
}
.width30 > img{
    width: 100%;
}
.container-business{
    flex-wrap: wrap;
}
section3main > div > h2{
    width: 50%;
}
.box{
    
    width: calc(100%/2) ;
    height: calc(100vw/6);
}
.big-box{
    width: calc(100%) ;
    height: calc(100vw/3);
    padding: 10%;
    background-color: #f5f5f5;
}
.box-container{
    flex-wrap: wrap;
    width: 33.33%;
    
}
.bg-red{
    background-color: rgb(254,28,29);
    align-items: center;
}
.bg-blue{
    background-color: blue;
}
.bg-maroon{
    background-color: rgb(98,8,43);
}
.bg-lightblue{
    background-color: #0193ce;
}
.bg-azzurro{
    background-color: #b4d0e6;
}
.bg-gray{
    background-color: gray;
}
.bg-lightgreen{
    background-color: rgb(162,211,155);
}
.bg-yellow{
    background-color: yellow;
}
.designit > img{
    width: 50%;
    
    
}
.florida > img{
height: fit-content;
padding-top: 50%;
}

.color-white-svg{
    color: white;
}
.bottom-logos{
    width: calc(100%) ;
    height: calc(100vw/8);
    background-color: #b4d0e6;
}
.bottom-logos > div{
    width: 60%;
    margin: 0 auto;
    padding-top: 5%;
    padding-left: 14%;
}
.width48{
    width: 60%;
    margin: auto;
    color: #5f092e;
}
.btnbottom{
    border: 0cm;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px 40px;
}
.divider-faq{
    width: 100%;
}
.padding-right50px{
    padding-right: 50px;
}
.margin100pxbottom{
    margin-bottom: 100px;
}
footer{
    margin-top: 200px;
    background-color: black;
}
.li-footer{
    margin: 10px;
}
.color-white{
    color: white;
}
.text-indent-footer{
    text-indent: -10px;
}